<p id="notice"><%= notice %></p>

<h1>Vecinos</h1>

<table>
  <thead>
    <tr>
      <th>Rut</th>
      <th>Apellidop</th>
      <th>Apellidom</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Direccion</th>
      <th>Nacimiento</th>
      <th>Educacion</th>
      <th>Idioma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vecinos.each do |vecino| %>
      <tr>
        <td><%= vecino.rut %></td>
        <td><%= vecino.apellidop %></td>
        <td><%= vecino.apellidom %></td>
        <td><%= vecino.nombre %></td>
        <td><%= vecino.tipo %></td>
        <td><%= vecino.direccion %></td>
        <td><%= vecino.nacimiento %></td>
        <td><%= vecino.educacion %></td>
        <td><%= vecino.idioma %></td>
        <td><%= link_to 'Show', vecino %></td>
        <td><%= link_to 'Edit', edit_vecino_path(vecino) %></td>
        <td><%= link_to 'Destroy', vecino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vecino', new_vecino_path %>
