<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @vecino.rut %>
</p>

<p>
  <strong>Apellidop:</strong>
  <%= @vecino.apellidop %>
</p>

<p>
  <strong>Apellidom:</strong>
  <%= @vecino.apellidom %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @vecino.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @vecino.tipo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @vecino.direccion %>
</p>

<p>
  <strong>Nacimiento:</strong>
  <%= @vecino.nacimiento %>
</p>

<p>
  <strong>Educacion:</strong>
  <%= @vecino.educacion %>
</p>

<p>
  <strong>Idioma:</strong>
  <%= @vecino.idioma %>
</p>

<%= link_to 'Edit', edit_vecino_path(@vecino) %> |
<%= link_to 'Back', vecinos_path %>
